<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<h2>As of 23/02/2018: </h2>
<ul>
  <li>
    <h2>Total number of GPS installations ordered: 377 </h2>
  </li>
  <li>
    <h2>Number of GPS trackers installed: 194 </h2>
  </li>
  <li>
    <h2>Number of oysters installed: 26 </h2>
  </li>
  <li>
    <h2>Number of yellow fleet planned: 131, out of which 67 are completed</h2>
  </li>
  <li>
    <h2>Number of white fleet planned: 246, out of which 127 are completed</h2>
  </li>

  
</ul>
<table >
  
    <tr>
      <th width="50px"></th>
      <th width="50px">Ordered</th>
      <th width="50px">Completed</th>
      <th width="50px">Outstanding</th>
    </tr>

  <tbody>
    <tr>
        <td width="50px">Yellow Fleet</td>
        <td width="50px">131</td>
        <td width="50px">67</td>
        <td width="50px">64</td>
    </tr>
    <tr>
        <td>White Fleet</td>
        <td>246</td>
        <td>127</td>
        <td>119</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>377</td>
        <td>194</td>
        <td>183</td>
    </tr>
  </tbody>
</table>
<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  -->
<div class="example-container mat-elevation-z8">
  <button mat-button>Click me!</button>
  <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ordered">
            <mat-header-cell *matHeaderCellDef> Ordered </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ordered}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="completed">
          <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.completed}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="outstanding">
          <mat-header-cell *matHeaderCellDef> Outstanding </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.outstanding}} </mat-cell>
        </ng-container>
    </mat-table>
</div> 

